<div id="hazard-form">
  <%= simple_form_for @hazard, remote: true do |f| %>
    <%= f.input :name %>
    <%= f.input :hazard_type_combo %>
    <%= f.input :postal_code %>
    <%= f.input :injuries %>
    <%= f.input :fatalities %>
    <%= f.input :property_damage %>
    <%= f.input :crop_damage %>
    <%= f.input :hazard_id %>
    <%= f.input :fips_code %>
    <%= f.input :hazard_begin_date %>
    <%= f.input :hazard_end_date %>
    <%= f.input :remarks %>
    <%= f.button :submit %>
  <% end %>
</div>