<tr id="hazard-<%= @hazard.id %>">
  <td><%= @hazard.name %></td>
  <td><%= @hazard.hazard_type_combo %></td>
  <td><%= @hazard.injuries %></td>
  <td><%= @hazard.fatalities %></td>
  <td><%= link_to 'Detail', hazard_path(@hazard), remote: true %></td>
  <td><%= link_to 'Edit', edit_hazard_path(@hazard), remote: true %></td>
  <td><%= link_to 'Remove', @hazard, method: :delete, data:{ confirm: 'Are you sure?'}, remote: true %></td>
</tr>